@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
    background-image: url(img/yelan.jpg);
    display: flex;
    justify-content: end;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.zhongli {
  background-image: url(img/zhongli.jpg);
  transition: all 0.25s ease-in-out;
}
.yelan {
  background-image: url(img/yelan.jpg);
  transition: all 0.25s ease-in-out;
}
.dehya {
  background-image: url(img/dehya.jpg);
  transition: all 0.25s ease-in-out;
}

main {
  backdrop-filter: blur(10px);
  padding:0 2em;
  border-left:4px solid #ffffff;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-shadow: 1px 1px 4px #2c20d3a1;
}

main h1 {
  text-align: center;
  font-size: 7vh;
  font-weight: 400;
}

main p {
  font-weight: 600;
  text-align: center;
  margin-top: 17%;
}

main a {
  text-decoration: none;
  color: #fff;
}

main a:hover {

}

main > img {
  width: 300px;
  margin-top: 30%;
}

.container {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container img {
  
  width: 90px;
  border-radius: 50%;
  filter: brightness(75%);
  border: 2px solid #f8f8f8c0;
}

.container img:hover {
  border: 2px solid;
  filter: brightness(100%);
}

.relogio {
  margin-top: 10%;
  text-align: center;
  font-size: 5rem;
}

 