* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
    background-image: url(img/yelan.webp);
    display: flex;
    justify-content: end;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
  
main{
  backdrop-filter: blur(10px);
  padding:0 2em;
  border-left:4px solid #ffffffaf;
}

.relogio {
  margin-top: 40%;
  font-family: arial;
  color: #fff;
  text-align: center;
  font-size: 5rem;
}

 