body {
    background: #111;
    display: flex;
    align-items: center;
    height: 95vh;
    justify-content: center;
}
  
  .relogio {
    font-family: arial;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 7rem;
    max-width: 1200px;
    margin: 0 auto;
  }

 